<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 class="mb-4">Danh sách người dùng</h2>

            <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalAccount">
                Add Account
            </button>

            <div class="d-flex justify-content-end mb-0">
                <form class="row row-cols-lg-auto g-3 align-items-center mb-0">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Username">
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">