<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center" style="height: 100vh;">
            <div class="col-sm-12 col-md-8 col-lg-4 my-auto">
                <div class="card border-dark">
                    <div class="card-header bg-dark text-white">
                        <h3 class="mb-0 text-center">Login</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="inputUsername">User name</label>
                                <input type="text" class="form-control" id="inputUsername" style="height: 50px;">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control" id="inputPassword" style="height: 50px;">
                            </div>
                            <p>Don't have an account? <a href="/register" class="link-dark">Register now.</a></p>
                            <div class="row mt-3" style="justify-content: space-around;">
                                <a href="/" type="submit"
                                    class="btn btn-light border-dark btn-block text-black col-5">Back</a>
                                <button type="submit" class="btn btn-dark btn-block col-5">Confirm</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>